# Heavy data files (to be put on Arrayexpress)
data/*.rds
data/*.h5
data/*.loom
data/*.h5ad

# Reports from .Rmd
preprocessing/*.html

# Temporary Jupyter notebook
.ipynb_checkpoints

# SAMap files
*.feather
*.tbl

# Public dataset: Martirosyan Parkinson's human brain data
data/Martirosyan_2024/*
!data/Martirosyan_2024/README.md

# Public dataset: Mathys Alzheimer's human brain data
data/Kellis_2024/*
!data/Kellis_2024/README.md

# Public dataset: Jeffries human brain aging data
data/Jeffries_2025_HumanBrainAging/*
!data/Jeffries_2025_HumanBrainAging/README.md

# Temporary figures (to delete)
figures/Figure_XX*

